<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GroupWorkBase Front by VOYAGE GROUP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
      padding-top: 70px;
      padding-bottom: 30px;
      }

      .theme-dropdown .dropdown-menu {
      position: static;
      display: block;
      margin-bottom: 20px;
      }

      .theme-showcase > p > .btn {
      margin: 5px 0;
      }
    </style>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>

  <body role="document">

    <div class="row">
      <div class="col-md-4 col-md-offset-3">
	<p><a href="/front/">戻る</a></p>
	<h3>ユーザー登録 API連携 簡易</h3>
	<h5>Vue.js</h5>
      </div>
    </div>
    <section id="main">
      <div class="row">
	<div class="col-md-3 col-md-offset-3">

	  <div class="alert alert-danger" v-show="hasError">
	    <p>{{errors.name}}</p>
	    <p>{{errors.email}}</p>
	    <p>{{errors.password}}</p>
	    <p>{{errors.birthday}}</p>
	  </div>

	  <form role="form" v-on="submit:addUser">
	    <div class="form-group">
	      <label for="name">ユーザー名</label>
	      <input type="text" class="form-control" id="name" placeholder="taro" v-model="user.name">
	    </div>
	    <div class="form-group">
	      <label for="email">メールアドレス</label>
	      <input type="email" class="form-control" id="email" placeholder="address@example.com" v-model="user.email">
	    </div>
	    <div class="form-group">
	      <label for="password">パスワード</label>
	      <input type="password" class="form-control" id="password" placeholder="Password" v-model="user.password">
	    </div>
	    <div class="form-group">
	      <label for="date">誕生日</label>
	      <input type="date" class="form-control" id="date" placeholder="yyyy-mm-dd" v-model="user.birthday">
	    </div>
	    <input type="submit" class="btn btn-default" value="登録">
	  </form>
	</div>
      </div>
    </section>

    <hr>
    <footer>
      <p>&copy; Company 2014</p>
    </footer>

    <!-- Le javascript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
