<div class="row">
  <div class="col-md-2 col-md-offset-3">
    ユーザー名: {{user.name}}
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-3">
    メールアドレス: {{user.email}}
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-3">
    パスワード: ********
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-3">
    誕生日: {{user.birthday}}
  </div>
</div>
<div class="row">
  <div class="col-md-2 col-md-offset-3">
    <button v-on="click:back" class="btn btn-default">戻る</button>
    <button v-on="click:add" class="btn btn-default">登録</button>
  </div>
</div>

