.dbup/applied/*
.idea
composer.phar
phpunit.phar
php-cs-fixer.phar
dbup.phar
var/log/*
var/cache/*
vendor/*
public_html/bower_components/*
node_modules/*
components/*
public_html/front/demo/vote-browserify/build/*
public_html/front/demo/vote-component/build/*
public_html/front/demo/vote-component/components/*
src/config.php
.dbup/properties.ini

