<html>
  <body>
    <h3>アルファベット コレクション (ガチャ)</h3>

    <div id="main">
      <button type="button" v-on="click: gacha()" id="start">ガチャ</button>
      <h4 id="result" style="color: red" v-text="result[value]"></h4>
      <h4>まだコレクションできていないアルファベット</h4>
      <div id="rest" v-text="collection"></div>
      <h4>ガチャ履歴</h4>
      <ul id="histories" v-text="his"><li></li></ul>
    </div>

    <script  type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <script>
     (function(Vue){
      window.app = new Vue({
       el: '#main',
       data:{
         his: [],
         collection: [],
         result: '',
         error: ''
       },
       ready: function(){
        var jqxhr = this.gachaRead();
        },
       methods: {
        gachaRead: function() {
          var jqxhr = $.getJSON('json')
          .done(function(jqxhr){
            for(var i in jqxhr){
              if (jqxhr[i].value == 0) {
                window.app.$data.collection.push(jqxhr[i].key);
              };
            }
          })
          .fail(function(){
            window.app.$data.error = 'メンテ中';
          });
            return jqxhr;
        },
        gacha: function() {
           var item = this.draw();
           this.result = item;
           this.addHistory(item,this.his);
          // this.collect(this.collection,this.result,this.missCollect);
         },
         draw: function() {
          var kekka = [];
          var gachapon = '';          
          var jqxhr = $.getJSON('result')
          .done(function(jqxhr){
            kekka.push(jqxhr.value);
          })
          .fail(function(){
            window.app.$data.error = 'ガチャが壊れた！';
          });
          return kekka;
         },
         addHistory: function(item,his){
           this.his.unshift(item);
         },
        // collect: function(collection,result,missCollect){
        //   collection[result] = 1;
        //   for (var i = 0; i < 6; i++) {
        //     if (collection['a'] == 0) {
        //      missCollect.unshift(collection[i]);
        //     };
        //   };
        // }
       }
      });
     })(Vue);
    </script>
  </body>
</html>
