{% extends 'layout.html.twig' %}

{% block contents %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    <p id="document">
        {{ markdown|raw }}
    </p>

    <!-- Example row of columns -->

{% endblock %}

{% block javascript %}
  <script src="{{ asset('/bower_components/marked/lib/marked.js') }}"></script>
  <script>
  (function(){
    var doc = $('#document');
    doc.html(marked(doc.html()));  
  })()
  </script>
{% endblock %}
