{% extends 'layout.text.html.twig' %}

{% block contents %}

<div class="profile">
    <h1> donchan </h1>
    <table class="table">
        <tr>
            <td>投稿日</td>
            <td>タイトル</td>
            <td>編集</td>
            <td>ステータス</td>
        </tr>
        <tr>
            <td>14/11/2</td>
            <td>羅生門 蜘蛛の糸 杜子春 外十八篇 (文春文庫―現代日本文学館)</td>
            <td><a href="">編集</a></td>
            <td>受付中</td>
        </tr>
    </table>
    
</div>

{% endblock %}
