{% extends 'layout.text.html.twig' %}

{% block contents %}

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <a href="{{ urlFor('text-top') }}" class="btn btn-default">Sign in</a>
    </div>
  </div>
</form>

<span>あらかじめ、学校のメールアドレス, 大学, 学部, 電話番号を登録</span>

{% endblock %}
