{% extends 'layout.text.html.twig' %}

{% block contents %}

<div class="view">
    <h2>羅生門 蜘蛛の糸 杜子春 外十八篇 (文春文庫―現代日本文学館)</h2>
    <h4>芥川 龍之介</h4>
    <div class="row">
        <div class="col-sm-4">
            <a href="">
               <img src="http://ecx.images-amazon.com/images/I/51W1CK22PBL.jpg" class="img-responsive img-rounded" alt="Responsive image">
            </a>
        </div>
    </div>
    <hr>
    <div class="row">
        <label class="col-sm-2 control-label">価格</label>
        <div class="col-sm-6">
            <p>0円</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">大学・学部</label>
        <div class="col-sm-6">
            <p>岐阜大学 工学部</p>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">投稿者</label>
        <div class="col-sm-6">
            <a href="{{ urlFor('text-profile') }}" >donchan</a>
        </div>
    </div>
    <div class="row">
        <label class="col-sm-2 control-label">内容</label>
        <div class="col-sm-6">
            <span>
                ～お願い～<br>
            ●ノークレームでお願いします。<br>
            ●トラブル防止のため神経質な方とのお取引は御遠慮させて頂きます。<br>
            ●先着順ではございません。<br>
            ●生活消耗品、その他家庭不用品などと交換してくれる方を優先します。<br>
            　交換品を具体的に書いてください。<br>
            浜松市西区の当方指定場所(コンビニや商業施設駐車場)まで、お手数ですが取りに来てください。<br>
            ※場合によっては、着払い発送も可能。<br>
            </span>
        </div>
    </div>
    <div class="row">
        <a href="{{ urlFor('text-post2') }}" class="btn btn-primary" role="button">投稿者にSMSで問い合わせ</a>
    </div>
</div>

{% endblock %}
