<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>GroupWorkBase Front by VOYAGE GROUP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
      padding-top: 70px;
      padding-bottom: 30px;
      }

      .theme-dropdown .dropdown-menu {
      position: static;
      display: block;
      margin-bottom: 20px;
      }

      .theme-showcase > p > .btn {
      margin: 5px 0;
      }
    </style>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>

  <body role="document">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/front/">GroupWorkBase Front</a>
	</div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav">
            <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guide <b class="caret"></b></a>
	      <ul class="dropdown-menu">
		<li><a href="#/guide/about">MVVM</a></li>
		<li><a href="#/guide/event">イベント</a></li>
		<li><a href="#/guide/route">ページ遷移</a></li>
		<li><a href="#/guide/api">API連携</a></li>
		<li><a href="#/guide/build">アプリ構築</a></li>
	      </ul>
            </li>
	  </ul>
	  <ul class="nav navbar-nav">
            <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demo <b class="caret"></b></a>
	      <ul class="dropdown-menu">
                <li class="dropdown-header">Vue.js 構築例</li>
		<li><a href="/front/demo/vote/">Vue.js + director.js</a></li>
		<li><a href="/front/demo/vote-browserify/">Vue.js + director.js with browserify</a></li>
		<li><a href="/front/demo/register/">Vue.js + API(GroupWorkBase)</a></li>
                <li class="dropdown-header">Vue.js demo appliation</li>
		<li><a href="/front/demo/commits/">git commits viewer</a></li>
		<li><a href="/front/demo/todomvc/">todomvc</a></li>
		<li><a href="/front/demo/vote-component/">Vue.js + page.js with component</a></li>
	      </ul>
            </li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right" id="user">
	    <li v-if="!name"><a href="/user/login">ログイン</a></li>
	    <li v-if="name"><a href="/user/edit">{{name}}</a></li>
	    <li v-if="name"><a href="/user/logout">ログアウト</a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
	    <li><a href="/">GroupWorkBase に戻る</a></li>
	  </ul>
	</div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" role="main" id="main">
      <div v-view="currentView"></div>

      <!-- first page component -->
      <script type="text/x-template" id="first">
	<h3>フロントエンドアプリケーション</h3>
	<p>
	  GroupWorkBase ではフロントエンドとサーバーサイドをAPIで連携することで役割を分離する仕組みを用意しています。
	</p>
	<p>
	  フロントエンドは <a href="http://vuejs.org/">Vue.js</a> というフレームワークを利用しています。少しだけ <code>Vue.js</code> がどういったことができるのか見てみましょう
	</p>
	<p><a href="#/guide/about" class="btn btn-primary btn-large">Learn more »</a></p>
      </script>

      <!-- about page component -->
      <script type="text/x-template" id="about">
	<h3>MVVM</h3>
	<p>
	  `Vue.js` の説明は<a href="http://vuejs.org/guide/">本家のガイド</a>を見てください。
	  ここでは実際に動くコードを見ながら画面遷移を作ることがゴールです
	</p>
	<p>
	  `Vue.js` は MVVM といわれる Model, View, ViewModel という３つのレイヤーで管理するアーキテクチャです。簡単にいうと、UIで変更された値がModel,Viewに自動的に反映される仕組みであり、このデータバインディングの機能が `Vue.js` というフレームワークの特徴です。
	</p>

	<h3>UIとモデルのバインディング デモ</h3>
	<p>
	  <code>js/app.js</code> を見てみます。`data` というオブジェクトがあります。これが HTMLから参照することができます。userオブジェクトの表示させたいときは<code v-pre>{{user.name}}</code> と書けば {{user.name}} と表示されます。
	</p>
	<p>
	  そして、inputタグに<code>v-model="user.name"</code>と指定すると、デフォルト値が{{user.name}}になり、また入力内容を変更するとその変更内容がモデルにも反映されます。デベロッパーツールで確認しながら以下のフォームに値を入力してください。するとこのページで参照している<code v-pre>{{user.name}}</code>の表示内容がすべて書き変わるのがわかります。
	  <form>
	    名前:<input type="text" v-model="user.name">
	    <h4>現在の<code v-pre>{{user.name}}</code>の値は{{user.name}}です</h4>
	  </form>
	</p>
	<p>
	  このようにしてフロントエンドのアプリケーションでデータを共有します
	</p>
	<p><a href="#/guide/event" class="btn btn-primary btn-large">イベント処理 »</a></p>
      </script>

      <!-- event page component -->
      <script type="text/x-template" id="event">
	<h3>イベント</h3>
	<p>
	  さきほどの例ではフォームの値を変更すると勝手にデータの同期が行われるのを見ましたが、つぎはボタンを押されることでイベントが発生するサンプルを見てみます。下の合計は`+1`または`-1`を押すことで数値が変化します。HTMLでは<code>v-on</code>でイベント種別(click)とその処理(plus, minus)を定義し、実際の処理は<code>js/app.js</code>の`methods`でアプリに定義しています。
	</p>
	<p>
	  合計:{{total}}
	  <button v-on="click: plus()">+1</button>
	  <button v-on="click: minus()">-1</button>
	</p>
	<p>
	  jQueryで同じような処理をやろうとすると、どのDOMなのかをjQueryで書いたコードで探す必要がありますが、Vueを使うとDOMのことは気にしなくて済むというメリットがあります。
	</p>
	<p><a href="#/guide/route" class="btn btn-primary btn-large">ページ遷移 »</a></p>
      </script>

      <!-- route page component -->
      <script type="text/x-template" id="route">
	<h3>ページ遷移</h3>
	<p>
	  このガイドでもさきほどからページ遷移を行っていますが実はサーバーにはリクエストを投げていません。
	  URLを見てみるとURLにハッシュ(#)が含まれているのがわかります。
	  つまり、ページ内遷移をブラウザの履歴にも残しつつ1ページで制御しています。
	  このようなアプリケーションをシングルページアプリケーション(SPA)といいます。
	</p>
	<p>
	  このページのソースを見てみると<code><pre>&lt;script type="text/x-template" id="xxx"&gt;...&lt;/script&gt;</pre></code>という部分が複数あることがわかります。scriptタグで且つtypeがブラウザが判断できないので通常はこのタグの中身は無視されます。この仕組を利用して各ページのテンプレートを用意し、Vue.jsでidで表示/非表示を切り替えることでページ遷移しているかのように見せています。
	</p>
	<p>
	  SPAで構成するメリットはどこにあるのでしょうか。ページを遷移したときに必要な項目だけを読み込むという点です。このページの右上にログイン中の場合はユーザー名を表示するようにしています。もしSPAでないアプリケーションは画面遷移のたびにユーザー情報を取得する必要がありますが、SPAの場合は画面遷移してもこの部分は再読み込みしません。つまり、本当に必要な処理だけに集中できるというわけです。
	</p>
	<p>
	  Vue.js ではviewの切り替え機能はあっても、ハッシュタグで行うルーティング機能がないので <a href="https://github.com/flatiron/director">director</a>というライブラリを使ってルーティングを実現しています。実装は <code>js/routes.js</code> にあります。
	</p>
	<p>
	  ただし、全てをSPAで実装する必要はありません。多くのルーティングが必要となってくるとSPAで実装するのは大変です。サーバーのAPIとうまく連携させながら必要最低限な実装を意識すると失敗が少なくなります。
	</p>
	<p><a href="#/guide/api" class="btn btn-primary btn-large">API連携 »</a></p>
      </script>

      <!-- api page component -->
      <script type="text/x-template" id="api">
	<h3>API連携</h3>
	<p>
	  Vue.jsで作成したアプリケーションはサーバーサイドとはXMLHttpRequest(XHR)を用いて通信します。ajaxはXHRです。Vue.jsにはXHRのためのライブラリは用意されていません。自分の好きなものを選択できます。
	</p>
	<p>
	  <a href="/front/demo/commits/">公式サイトのデモ</a>にもgithubのcommitをAPI経由で取得し表示するものがあります。このアプリでも動くようにしたので見てみると参考になると思います。このサンプルではJavaScriptのXHRそのものを使っています。ここでは jQueryのajax機能を使ってサーバーサイドからデータを受け取ってみます。
	</p>
	<button
	   v-show="commits.length == 0"
	   v-on="click: fetchData()"
	   >Vue.jsのgithubのコミット取得</button>
	<h4>取得結果</h4>
	<ul>
          <li v-repeat="commits">
            <a href="{{html_url}}" target="_blank" class="commit">{{sha.slice(0, 7)}}</a>
            - <span class="message">{{commit.message }}</span><br>
            by <span class="author">{{commit.author.name}}</span>
            at <span class="date">{{commit.author.date }}</span>
          </li>
	</ul>

	<p>
	  ここで <code>commits</code> という配列を用意しておき、APIでの習得結果をセットしています。
	  取得結果は<code>v-repeat</code>を使って1項目ずつ処理を繰り返すようにしています。
	</p>

	<h3>GroupWorkBase で APIを返す</h3>
	<h4>ユーザー一覧</h4>
	<p>
	  <code>src/app/api.php</code> にユーザー一覧をJSONで返すAPIのサンプルを用意してあります。
	  それを<code>app.js</code>の<code>fetchUser()</code>で取得し<code>app.users</code>を通してバインディングすることで表示するようにしてあります。
	</p>
	<ul>
	  <li v-repeat="users">
	    name:{{name}}, email:{{email}}
	  </li>
	</ul>
	<h4>アクセスしているユーザー名</h4>
	<p>
	  <code>src/app/api.php</code>の<code>/api/sample/me</code> でログイン中のユーザーをDBから取得し名前を返す実装を行っています。このページの右上の「ユーザー名表示」or「ログイン」へのリンクがこれを使って実装しています。実装しているコードは<code>js/user.js</code>です。id=user 部分のHTMLがVue.jsによって管理されていて、nameが用意されているかどうかを見て表示を切り替えています。ユーザーがログインしていない場合はHTTPのレスポンスコードが401で返されるため、<code>.done</code>を通らない、つまりnameには何もアサインされないという仕組みです。値があるかどうかは<code>v-if="name"</code>のようにしてVue.jsでは表示の切り替えを行うことができます。このように、サーバーのステータスコードを利用するのもHTTPを利用したアプリケーションだからできる工夫です。
	</p>
	<h4>ユーザー登録のサンプル</h4>
	<a href="/user/register">ユーザー登録</a>をVue.jsとAPI連携で実装してみると<a href="/front/demo/register">ユーザー登録のサンプル</a>のようになります。本当はもう少し工夫が必要ですがわかりやすいように最低限な実装にしています。コードを読んで流れを追ってみてください。
	<p><a href="#/guide/build" class="btn btn-primary btn-large">複雑なアプリ構築 »</a></p>
      </script>

      <!-- build page component -->
      <script type="text/x-template" id="build">
	<h3>複雑なアプリ構築</h3>
	<p>
	  このGuideのページは一番シンプルな構成で書かれていますが、そのためにページ数が多くなってくるとHTMLがどんどん膨れていってしまいます。
	  たとえば、Vue.js と director で投票アプリを作るとすると何も利用しなければ<a href="/front/demo/vote/">このページ</a>のようなコードになります。(詳しくはHTML、jsを覗いてみてください)
	  同じアプリを、より楽に構築するためには以下のようなツールを利用し、複雑さや面倒さをなくすことができます。
	</p>
	<h4>browserify</h4>
	<p>
	  <a href="http://browserify.org/">browerify</a>は node.js のモジュールを requireという手続きでクライアントサイドでも利用できるようにする便利なツールです。たとえばbrowerifyを使うことで、テンプレートやロジックを別ファイルにして、requireで呼び出すことができるようになります。<a href="/front/demo/vote-browserify/">browserifyを使った投票アプリ</a>はパッと見何もかわりませんが、一覧、新規、編集のテンプレートが別ファイルになっていて読み込まれるようになっています。
	</p>
	<p>
	  実際は `src/main.coffee` で requireを使った形式で記述を行い、browserifyコマンドを通してブラウザ上で実行できる `build/main.js` に変換しています。そして、ブラウザからはこの`build/main.js`をscriptタグで読み込んでいます。
	</p>

	<h4>Grunt</h4>
	<p>
	  browserifyコマンドでbuild処理を行ったりするのを毎回手作業で打つのは大変です。そういったタスクを管理できる仕組みが<a href="http://gruntjs.com/">Grunt</a>です。Gruntは `gruntfile.js` にタスクを記述するというルールです。複数のタスクを組み合わせたり便利なタスクが用意されているので、自分の使いやすいように組み合わせることができます。今回は bower でインストールした外部jsライブラリを1ファイルに結合する`bower_concat` というタスクも利用し、build時に `build/vendoer.js` に出力するようにしています。
	</p>

	<h4>CoffScript</h4>
	<p>
	  Gruntfileは JavaScriptだけでなく、<a href="http://coffeescript.org/">CoffScript</a>でも記述できます。CoffScriptは JavaScriptのシンタックスシュガーで素のJavaScriptよりも書きやすく、可読性に優れています。括弧ばかりの記述になるような Gruntfileの記述には最適です。というわけで、GroupWorkBase では Gruntfile.coffee ファイルを用意しています。アプリケーションをCoffScriptで書くことも可能です。`vote-browserify`ディレクトリのコードはサンプルとしてcoffeeで記述しましたがやっていることは`vote`ディレクトリの内容とと全く同じです。
	</p>

	<h4>アニメーション</h4>
	<p>
	  シングルページアプリケーションは画面遷移がユーザーに伝わりにくいため、適度なアニメーションを入れることで使いやすくなる場合があります。demoで用意したアプリでは<a href="http://daneden.github.io/animate.css/">animate.css</a>というHTML5 + CSS3 ベースのアニメーションを使って画面遷移時にアニメーションを入れています。jsを使わずにクラスを要素に追加するだけでアニメーションができます。
	</p>
      </script>


      <hr>
      <footer>
	<p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->

    <!-- Le javascript
	 ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/marked/lib/marked.js"></script>
    <script src="/bower_components/vue/dist/vue.js"></script>
    <script src="/bower_components/director/build/director.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/user.js"></script>
  </body>
</html>
