{% extends 'layout.html.twig' %}

{% block contents %}

    <p id="document">
        {{ markdown|raw }}
    </p>

{% endblock %}

{% block javascript %}
    <script src="{{ asset('/public_html/bower_components/markdown/lib/markdown.js') }}"></script>
    <script src="{{ asset('/js/markdown.app.js') }}"></script>
{% endblock %}
