{% extends 'layout.html.twig' %}

{% block contents %}

      <div id="left">
        <div id="result"><h3 v-text="result"></h3></div>
         <button class="btn bttn-lg btn-default" v-on="click: gacha()">ガチャ！</button>
      </div>
      <div id="rare_eria">
        <h3>未取得ガチャ</h3>
        <ul v-text="allList">
          <li></li>
        </ul>
      </div>
      <div id="histories">
        <h3>ガチャ履歴</h3>
        <p v-text="hist"></p>
      </div>
 {% endblock %}