{% extends 'layout.html.twig' %}

{% block contents %}
      <button class="btn bttn-lg btn-default"><a href="normal.html"></a>普通</a></button>
      <button class="btn bttn-lg btn-default"><a>限定ガチャ</a></button>
 {% endblock %}
